$cellBorderColor: rgba(129, 128, 128, 0.822);

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
  margin-top: 8%;
}

input[type="checkbox"] {
  display: none;
}

.lbl-toggle {
  display: block;
  background: #13131385;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: #ffffff;
  background: #13131385;
  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #bda959f3;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
  color: #bda959f3;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(98, 98, 98, 0.267);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.icon {
  width: 30px;
  height: 30px;
}

#firstCell {
  float: left;
  width: 45%;
  border-style: solid;
  border-color: $cellBorderColor;
  margin: 5px;
  border-radius: 14px/42px;
}

#secondCell {
  float: right;
  width: 45%;
  border-style: solid;
  border-color: $cellBorderColor;
  margin: 5px;
}

#thridCell {
  clear: both;
  width: 45%;
  margin: 0 auto;
  border-style: solid;
  border-color: $cellBorderColor;
  margin-bottom: 5px;
}
