@import "./dropDown";
@import "./dropDown2";
@import "./dropDown3";
@import "./dropDown4";

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Cinzel", serif;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 75%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background: #000;
  color: #fff;
  font-family: "Oxygen", sans-serif;
}

.wrapper {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 70%;
  padding: 2em;
  line-height: 1.5;
  text-align: center;
  max-width: 580px;
  min-width: 380px;
  overflow: auto;
}

h1 {
  font-size: 3.2rem;
  font-weight: normal;
  text-shadow: 0 0 0.3em #000;
  margin: 0 0 1em;
  font-family: "Cinzel", serif;
}

p {
  font-size: 11pt;
  text-shadow: 0 0 0.3em #000;
  margin: 1em 0;
}
a {
  color: #fff;
}

code {
  font-family: monospace;
}

.icon {
  padding-top: 5px;
  width: 45px;
  height: 45px;
}

#firstCell {
  float: left;
  clear: both;
  width: 45%;
  border-style: solid;
  border-color: $cellBorderColor;
}

#secondCell {
  float: right;
  width: 45%;
  border-style: solid;
  border-color: $cellBorderColor;
}

#thridCell {
  clear: both;
  width: 45%;
  margin: 0 auto;
  border-style: solid;
  border-color: $cellBorderColor;
}

.smallText {
  float: left;
  padding-left: 20%;
  padding-top: 9%;
  clear: both;
}

.largeText {
  clear: both;
  float: left;
  padding-left: 9%;
  padding-top: 9%;
}

.mediumText {
  clear: both;
  float: left;
  padding-left: 12%;
  padding-top: 9%;
}
